<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- Cron Trigger, run on every day 15:00 -->
	<bean name="BatchMDSDailyJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSDaily" />
	</bean>		
	<bean id="cronTriggerBatchMDSDailyJob" 
                class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSDailyJob" />
		<property name="cronExpression" value="0 54 10,16,18 * * ? *" /> 
	</bean>	
	
	<!-- Cron Trigger, run on SAT-SUN every 12:00, 18:00 -->
	<bean name="BatchMDSWeekendJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSDaily" />
	</bean>	
	<bean id="cronTriggerBatchMDSWeekendJob" 
                class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSWeekendJob" />
		<property name="cronExpression" value="0 0 12,18 ? * SAT-SUN" />
	</bean>
	
	
	<!-- Cron Trigger for populate data Incident, Servicedesk, Userrequest -->
	<bean name="BatchMDSPopulateIncidentJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSPopulateIncident" />
	</bean>
	<bean id="cronTriggerBatchMDSPopulateIncidentJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSPopulateIncidentJob" />
		<property name="cronExpression" value="0 29 10 * * ? *" />
	</bean>
	
	<bean name="BatchMDSPopulateServiceDesk" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSPopulateServiceDesk" />
	</bean>
	<bean id="cronTriggerBatchMDSPopulateServiceDeskJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSPopulateServiceDesk" />
		<property name="cronExpression" value="0 30 10 * * ? *" />
	</bean>
	
	<bean name="BatchMDSPopulateUserRequest" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSPopulateUserRequest" />
	</bean>
	<bean id="cronTriggerBatchMDSPopulateUserRequestJob" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchMDSPopulateUserRequest" />
		<property name="cronExpression" value="0 31 10 * * ? *" />
	</bean>	
	<!-- End populate data -->
	
	
	<!-- Cron for calculate performance -->
	<!-- Cron for calculate performance weekly-->
	<bean name="BatchItopMDSWeeklyPerformance" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchItopMDSWeeklyReport" />
	</bean>
	<bean id="cronTriggerBatchItopMDSWeeklyPerformance" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchItopMDSWeeklyPerformance" />
		<!-- <property name="cronExpression" value="0 49 13 ? * MON" /> -->
		<property name="cronExpression" value="0 5 17 * * ? *" />
	</bean>	
	
	<!-- Cron for calculate performance monthly--> 
	<bean name="BatchItopMDSMonthlyPerformance" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchItopMDSMonthlyReport" />
	</bean>
	<bean id="cronTriggerBatchItopMDSMonthlyPerformance" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchItopMDSMonthlyPerformance" />
		<!-- <property name="cronExpression" value="0 0 10 1 * ?" /> -->
		<!-- <property name="cronExpression" value="0 0 12 ? * MON#1 *" /> -->
		<property name="cronExpression" value="0 16 17 * * ? *" />
	</bean>	
	
	<bean name="BatchItopMDSTest" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.vdi.batch.mds.BatchMDSPerSection" />
	</bean>
	<bean id="cronTriggerBatchItopMDSTest" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="BatchItopMDSTest" />
		<!-- <property name="cronExpression" value="0 49 13 ? * MON" /> -->
		<property name="cronExpression" value="0 5 19 * * ? *" />
	</bean>	
	
	<!-- End calculate performance -->
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTriggerBatchMDSDailyJob" />
				<ref bean="cronTriggerBatchMDSWeekendJob" />
								 
				<ref bean="cronTriggerBatchMDSPopulateIncidentJob" />
				<ref bean="cronTriggerBatchMDSPopulateServiceDeskJob" />
				<ref bean="cronTriggerBatchMDSPopulateUserRequestJob" />
				
				<ref bean="cronTriggerBatchItopMDSWeeklyPerformance" />
				<ref bean="cronTriggerBatchItopMDSMonthlyPerformance" />
				
				<ref bean="cronTriggerBatchItopMDSTest" />
	
			</list>
		</property>
	</bean>

</beans>